<html>
  <head>
      <title> Welcome to Ingeneous</title>
  </head>
  <body>
    <div>
      <h1><a href="http://ingeneous.pythonanywhere.com">Ingeneous</a></h1>
    </div>

    <div>
        <p>published: 22.05.2015, 16:16</p>
        <h2><a href=""> 2nd story </a></h2>
        <p> This is a test of the second creative story </p>
    </div>

    <div>
        <p>published: 21.05.2015, 12:16</p>
        <h2><a href=""> First story </a></h2>
        <p> This is a test of the first creative story </p>
    </div>
  </body>
</html>
